html {
  font-family: "Roboto", sans-serif;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerTop {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
}

footer {
  height: 250px;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #21263b;
}

.weatherToday {
  flex-grow: 1;
  padding-left: 150px;
  color: #fff;
  font-size: 3rem;
}

.weatherToday #dateheure {
  padding: 50px 0 50px 0;
}

.weatherToday .temp {
  font-size: 17rem;
  padding-top: 200px;
}

.weatherToday .location {
  font-size: 4rem;
  padding-left: 30px;
}

.weatherToday .meteo1 {
  padding-top: 60px;
}

.weatherToday .meteo2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.weatherToday--icon {
  flex-grow: 1;
  padding: 50px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.weatherToday--icon .wi {
  color: #fff;
  font-size: 15rem;
}

.weatherToday--icon p {
  color: #fff;
  font-size: 3rem;
  padding: 40px;
  padding-top: 10px;
  text-transform: capitalize;
}

#next-days {
  display: flex;
  justify-content: center;
  padding: 20px 40px 10px 40px;
}

#next-days ul {
  white-space: nowrap;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#next-days li {
  display: flex;
  flex-direction: column;
}

#next-days p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: #7a7d89;
}

#next-days b {
  font-size: 32px;
  text-align: center;
  padding: 10px;
  color: #7a7d89;
  text-transform: uppercase;
}

/*
    Styles pour les écrans de moins de 1900px de large :
*/

@media screen and (max-width: 1900px) {
  h1 span {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-right: 20px;
    font-style: italic;
  }

  h1 img {
    height: 4vh;
    padding-left: 20px;
  }

  .weatherToday {
    flex-grow: 1;
    padding-left: 150px;
    color: #fff;
    font-size: 2rem;
  }

  .weatherToday #dateheure {
    padding: 50px 0 50px 0;
  }

  .weatherToday .temp {
    font-size: 10rem;
    padding-top: 200px;
  }

  .weatherToday .location {
    font-size: 3rem;
    padding-left: 40px;
  }
  g .weatherToday .meteo1 {
    padding-top: 60px;
  }

  .weatherToday .meteo2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .weatherToday--icon {
    flex-grow: 1;
    padding: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .weatherToday--icon p {
    color: #fff;
    font-size: 2.2rem;
    padding: 40px;
    padding-top: 30px;
    text-transform: capitalize;
  }

  #next-days b {
    font-size: 22px;
    text-align: center;
    padding: 10px;
    color: #7a7d89;
  }
}

/*
    Styles pour les écrans de moins de 900px de large :
*/

@media screen and (max-width: 900px) {
  .weatherToday--icon .wi {
    color: pink;
    font-size: 3rem;
  }

  .weatherToday--icon p {
    color: #fff;
    padding: 40px;
    padding-top: 10px;
  }

  .weatherToday .temp {
    padding-top: 200px;
  }

  .weatherToday .location {
    padding-left: 30px;
  }
}
